# Postgres connection string used by Prisma
DATABASE_URL="postgresql://invoicing:invoicing@localhost:5432/invoicing?schema=public"

# NextAuth (Phase 3)
NEXTAUTH_SECRET=""
AUTH_MICROSOFT_ENTRA_ID_ID=""
AUTH_MICROSOFT_ENTRA_ID_SECRET=""
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=""

# Public app name
NEXT_PUBLIC_APP_NAME="Ovation Invoicing"
